.title {
    color: white;
    text-align: left;
    line-height: 0%;
    width: 100%;
    font-size: 16px;
    text-overflow: ellipsis;
}

.artist {
    color: gray;
    text-align: left;
    line-height: 0%;
    font-size: 11px;
}

.trackContainer {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    border-bottom: 1px rgba(182, 180, 180,0.2) solid;
    margin-bottom: 5px;
}

img {
    font-size: 8px;
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.cover {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: cornflowerblue;
}

.track {
 display:flex;
 justify-content: flex-start;
 gap: 10px;
}

.details {
    white-space: nowrap;
    overflow: hidden;
    width: 300px;
}

.button {
    height: 40px;
    width: 40px;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0);
}