.App {
  text-align: center;
  width: 80%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body{
 width: 80%;
}

.App-header {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  border-bottom: 1px gray solid;
  margin-bottom: 10px;
  width:100%;
  margin: auto;
}

.App-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.App-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.title {
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

.App-span {
  color:rgb(100, 1, 207);
}

.App-span:hover{
  cursor: pointer;
}

.logout {
  height: 30px;
  width: 80px;
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-1px); }
  20% { transform: translateY(-1px); }
  40% { transform: translateX(1px); }
  60% { transform: translateX(-1px); }
  80% { transform: translateX(1px); }
  80% { transform: translateY(1px); }
  100% { transform: translateX(0); }
}

.shake-text-a {
  display: inline-block;
  animation: shake 0.4s ease-in-out infinite;
}

.shake-text-b {
  display: inline-block;
  animation: shake 0.3s ease-in-out infinite;
}

.shake-text-c {
  display: inline-block;
  animation: shake 0.45s ease-in-out infinite;
}