.container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    color:white;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.loginH1 {
    text-shadow: 5px 5px rgb(27, 84, 133);
    min-width: 0;
    white-space: nowrap;
}

p {
    font-size: 1.5vw;
}

.loginButton {
    width: 12.5rem;
    height: 2.5rem;
    border: none;
    font-size: 1.25rem;
    background-color: #6401cf;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.loginButton:hover {
    background-color: rgb(42, 0, 87);
    transition: 1.5s;
    cursor: pointer;
}

.spotifyImage {
    width: 8vw;
    height: auto;
    margin-bottom: 3rem;
}

@media screen and (max-width: 579px) {
    /* start of phone styles */
    .loginH1 {
        font-size: 4rem;
        text-shadow: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        max-height: 915px;
        color:white;
        align-items: center;
        justify-content: center;
    }

    .spotifyImage {
        width: 30vw;
        height: auto;
        margin-bottom: 3rem;
    }

    .loginButton {
        width: 40vw;
        height: 2.5rem;
        border: none;
        font-size: 1.25rem;
        color: white;
        font-weight: bold;
        border-radius: 20px;
    }
}