.options {
    display: flex;
    height: 37.5rem;
    width:37.5rem;
    background-image: linear-gradient(rgba(62, 4, 117, 0.972), rgba(24, 1, 42, 0));
    border-radius: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    animation-name: fadeIn;
    animation: fadeIn .5s ease-in-out;
}

.optionsH1 {
    color: rgb(194, 172, 231);
}

.optionsH1:hover {
    color: white;
    font-size: 40px;
    transition-duration: 500ms;
    cursor: pointer;
}
  
  @keyframes fadeIn {
    from {opacity: .2}
    to {opacity: 1}
  }

  @media screen and (max-width: 579px) {
    .options {
        display: flex;
        width:37.5rem;
        height: auto;
        background-image: linear-gradient(rgba(62, 4, 117, 0.972), rgba(24, 1, 42, 0));
        border-radius: 300px;
        align-items: center;
        justify-content: center;
        margin-top: 120px;
    }
  }