input {
    border: none;
    box-shadow: none;
}

.input {
    background-color: inherit;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    border-bottom: solid gray 1px;
    color: white;
}

.button {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border-style: hidden;
    background-color: rgb(89, 1, 156);
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.button:hover{
    background-color: rgb(42, 0, 87);
    font-size: 15px;
    transition: .25s;
    cursor: pointer;
}

.container {
    display: block;
    width: 35vw;
    max-height: 40vh;
    overflow-y: scroll;
    border-bottom: 1px #0a90ca29 solid;
}

@media screen and (max-width: 579px) {
    .container {
        display: block;
        width: 100%;
        max-height: 70vw;
        overflow-y: scroll;
    }

    .container ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5px;
    }

    .input {
        background-color: inherit;
        font-size: 18px;
        text-align: left;
        font-weight: bold;
        border-bottom: none;
        color: white;
        height: fit-content;
        margin: 2px 0;
    }

}