.modify {
    width: 150px;
    height: 40px;
    background-color: rgb(100, 1, 207);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
}



.imageContainer {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: none;
    color: blueviolet;
    background-image: radial-gradient(rgba(62, 4, 117, 0.972), rgba(24, 1, 42, 0));
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
 border-radius: 50%;
 object-fit: fill;
 height: 100%;
 width: 100%;
 line-height: 50px;
 text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(63, 14, 131, 0.843);*/
    background-image: radial-gradient(closest-side at 50% 50%,rgba(62, 4, 117, 0.69)70%, rgba(62, 4, 117, 0.285));
    width: 400px;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    border-radius: 50%;
    color: white;
    animation-name: fadeIn;
    animation: fadeIn .5s ease-in-out;
}

.homeContainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(87, 7, 185, 0.6);
    width:25rem;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    border-radius: 50%;
    color: white;
}

.prev, .next, .homePrev, .homeNext{
    flex: 1 1 auto;
    cursor: pointer;
    position: relative;
    bottom: 280px;
    width: 30px;
    min-width: 20px;
    color: white;
    background-color: rgb(95, 26, 160);
    transition:  0.6s ease;
    border-radius: 10px 10px 10px 10px;
    border-style: hidden;
    font-size: 30px;
    height: 60px;
    box-sizing: border-box;
}

.next {
    left: 10rem;
}

.prev {
    right: 10rem;
}

.homeNext {
    left: 12rem;
}

.homePrev {
    right: 12rem;
}

.prev:hover, .next:hover, .modify:hover,.homePrev:hover, .homeNext:hover {
    background-color: rgba(54, 2, 100, 0.8);
    transition: .5s;
    cursor: pointer;
}

.container a,.homeContainer a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.container a:hover,.homeContainer a:hover, .modify:hover {
    font-weight: 600;
    transition: .5s;
}

.dots{
    display: flex;
    gap:10px;
    overflow-x: auto;
    white-space: nowrap;
    width: 50%;
    padding: 5px;
}

.dots::-webkit-scrollbar {
    height: 2px; /* Adjust scrollbar height */
}

.dots::-webkit-scrollbar-thumb {
    background: rgb(174, 0, 255);; /* Scrollbar color */
    border-radius: 2px;
}

div.current {
    background-color: rgb(174, 0, 255);
}

.dots div{
    flex-shrink: 0;
    background-color: none;
    border: 1px, gray, solid;
    height:4px;
    width: 10px;
    border-radius: 5px;
}

.linkLogo {
    width: 15px;
    height: 15px;
}

/* Fading animation */
.fadeIn {
    animation-name: fadeIn, rotate;
    animation: fadeIn 1.5s ease-in-out, rotate 30s linear infinite;
  }
  
  @keyframes fadeIn {
    from {opacity: .2}
    to {opacity: 1}
  }


  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Apply the animation to the image */
  .rotatingImage {
    animation: rotate 30s linear infinite;
  }

  @media screen and (max-width: 579px) {
    .imageContainer {
        display: flex;
        height: 8rem;
        width: 8rem;
        border-radius: 100px;
        background-color: none;
        color: blueviolet;
        background-image: radial-gradient(rgba(62, 4, 117, 0.972), rgba(24, 1, 42, 0));
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .imageContainer img {
     border-radius: 50%;
     object-fit: fill;
     height: 100%;
     width: 100%;
     line-height: 50px;
     text-align: center;
    }

    .container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        width:auto;
        margin-top: 300px;
        border-radius: 50%;
        color: white;
    }

    h4 {
        display: none;
    }

    .homeContainer {
        margin-top: 10px;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        width:auto;
        margin-top: 10%;
        border-radius: 50%;
        color: white;
    }

    .homeNext {
        left: 8rem;
    }
    
    .homePrev {
        right: 8rem;
    }

    .prev, .next, .homePrev, .homeNext{
        flex: 1 1 auto;
        cursor: pointer;
        position: relative;
        bottom: 160px;
        width: 2rem;
        color: white;
        background-color: transparent;
        transition:  0.6s ease;
        border-radius: 10px 10px 10px 10px;
        border-style: hidden;
        font-size: 30px;
        height: 60px;
        box-sizing: border-box;
    }

    .modify {
        position: absolute;
        margin-top: 10px;
        top:320px;
        width: 80%;
        height: 80px;
        background-color: transparent;
        background-image: linear-gradient(rgba(62, 4, 117, 0.972), rgba(24, 1, 42, 0));
        font-size: 32px;
        border-radius: 40px;
        color: rgb(194, 172, 231);
        font-weight: bold;
        border: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    }
    
}