.modify {
    width: 150px;
    height: 40px;
    background-color: rgb(100, 1, 207);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
}



.imageContainer {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: none;
    color: blueviolet;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
 border-radius: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(63, 14, 131, 0.843);
    width: 400px;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    border-radius: 50%;
    color: white;
}

.homeContainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(87, 7, 185, 0.6);
    width:25rem;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    border-radius: 50%;
    color: white;
}

.prev, .next, .homePrev, .homeNext{
    flex: 1 1 auto;
    cursor: pointer;
    position: relative;
    bottom: 280px;
    width: 30px;
    min-width: 20px;
    color: white;
    background-color: rgb(95, 26, 160);
    transition:  0.6s ease;
    border-radius: 10px 10px 10px 10px;
    border-style: hidden;
    font-size: 30px;
    height: 60px;
    box-sizing: border-box;
}

.next {
    left: 10rem;
}

.prev {
    right: 10rem;
}

.homeNext {
    left: 12rem;
}

.homePrev {
    right: 12rem;
}

.prev:hover, .next:hover, .modify:hover {
    background-color: rgba(54, 2, 100, 0.8);
    cursor: pointer;
}

.container a,.homeContainer a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.container a:hover,.homeContainer a:hover, .modify:hover {
    font-weight: 600;
    transition-duration: 500ms;
}

.dots{
    display: flex;
    justify-content: center;
    gap:10px
}

div.current {
    background-color: rgb(174, 0, 255);
}

.dots div{
    background-color: none;
    border: 1px, gray, solid;
    height:5px;
    width: 5px;
    border-radius: 5px;
}

/* Fading animation */
.fadeIn {
    animation-name: fadeIn, rotate;
    animation: fadeIn 1.5s ease-in-out, rotate 30s linear infinite;
  }
  
  @keyframes fadeIn {
    from {opacity: .2}
    to {opacity: 1}
  }


  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Apply the animation to the image */
  .rotatingImage {
    animation: rotate 30s linear infinite;
  }