.imageContainer {
    display: flex;
    height: 250px;
    width: 250px;
    border-radius: 125px;
    background-color: rgba(255, 255, 255, 0.04);
    color: rgb(46, 10, 174);
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    width: 100%;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(57, 6, 129, 0.619);
    width: 540px;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    border-radius: 300px;
    color: white;
    animation-name: fadeIn;
    animation: fadeIn .5s ease-in-out;
}

.button {
    width: 200px;
    height: 40px;
    border: none;
    font-size: 16px;
    background-color: rgb(100, 1, 207);
    color: white;
    font-weight: 100;
    border-radius: 20px;
}

.container a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.button a:hover {
    font-weight: 400;
    font-size: 18px;
    transition: 1s;
}

.button:hover{
    background-color: rgba(54, 2, 100, 0.8);
    transition: .5s;
    cursor: pointer;
}

.linkLogo {
    width: 15px;
    height: 15px;
}

@keyframes fadeIn {
    from {opacity: .2}
    to {opacity: 1}
  }

  @media screen and (max-width: 579px) {
    .imageContainer {
        display: flex;
        height: 250px;
        width: 250px;
        border-radius: 125px;
        background-color: rgba(255, 255, 255, 0.04);
        color: rgb(46, 10, 174);
        font-size: 40px;
        justify-content: center;
        align-items: center;
    }
    
    .imageContainer img {
        width: 100%;
        border-radius: 50%;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(57, 6, 129, 0.619);
        width: auto;
        margin: auto;
        margin-top: 80px;
        padding: 30px;
        border-radius: 300px;
        color: white;
        animation-name: fadeIn;
        animation: fadeIn .5s ease-in-out;
    }
  }