.appContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }

  @media screen and (max-width: 579px) {
    .appContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        min-height: 20vh;
        margin: auto;
      }

    .mediaPlayer{
        position: relative;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        right: auto;
        margin-top: 10px;
    }
    
}