.resultTitle {
    color: white;
    width: 35vw;
    text-align: left;
    font-size: 25px;
    padding-bottom: 12px;
    border-bottom: solid gray 1px;
    margin: 10px 0 0 0 ;
}

.container {
    display: block;
    width: 250px;
}

.results {
    display: block;
    width: 35vw;
    height: 40vh;
    overflow-y: scroll;
    margin-bottom: 50px;
    border-bottom: 1px #0a90ca29 solid;
}

ul {
    padding-left: 0;
}

@media screen and (max-width: 579px) {
    ul {
        padding-left: 10px;
    }

    .container {
        display: block;
        width: 100%;
        min-height: 0;
        height: initial;
        max-height: 70vw;
        margin-bottom: 10vh;
    }
    .results {
        display: flex;
        width: 100%;
        min-height: 0;
        height: initial;
        max-height: 70vw;
        overflow-y: scroll;
        margin-bottom: 10px;
    }

    .results ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5px;
    }

    .resultTitle {
        color: white;
        text-align: left;
        padding-left: 0px;
        font-size: 18px;
        margin: 2px 0;
        border: none;
    }
}