.title {
    color: white;
    text-align: left;
    line-height: 0%;
    width: 100%;
    font-size: 14px;
    text-overflow: ellipsis;
}

.artist {
    color: rgb(209, 209, 209);
    text-align: left;
    line-height: 0%;
    font-size: 10px;
}

.trackContainer {
    display: flex;
    background-color: rgba(40, 40, 40, 0.6);
    align-items: center;
    width: 30vw;
    justify-content: space-between;
    border-bottom: 1px rgba(182, 180, 180,0.2) solid;
    margin-bottom: 2px;
    padding: 8px;
    border-radius: 40px 20px 20px 40px;
}

.trackContainer:hover{
    background-color: rgba(0, 130, 251, 0.59);
    transition: .5s;
    cursor: pointer;
}

.cover img {
    font-size: 8px;
    object-fit: fill;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.cover {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: cornflowerblue;
}

.track {
 display:flex;
 justify-content: flex-start;
 gap: 10px;
 width: 90%;
}

.details {
    white-space: nowrap;
    overflow: hidden;
    width: 18vw;
}

.button {
    height: 25px;
    width: 25px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    background-color: rgba(0,0,0,0);
}

.button:hover{
    background-color: rgba(239, 239, 239, 0.385);
    transition: 1.5s;
    cursor: pointer;
}

.spotifyImageTracks {
    width: 18px;
    height: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    border-radius: 0;
}

.addRemove {
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 579px) {

    h4.artist {
        display: block;
    }

    .track {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1px;
        width: 17vw;
        overflow: hidden;
    }

    .trackContainer {
        display: flex;
        background-color: rgba(40, 40, 40, 0.6);
        align-items: flex-start;
        min-width: 50px;
        width: 20vw;
        justify-content: space-between;
        border-bottom: 1px rgba(182, 180, 180,0.2) solid;
        padding: 8px;
        border-radius: 10px 10px 10px 10px;
    }

    .addRemove {
        display: flex;
        flex-direction: column;
        width: 10%;
        justify-content: center;
        align-items: center;
    }

    .details {
        white-space: nowrap;
        overflow: hidden;
        width: fit-content;
        overflow-x: auto;
        scroll-behavior: smooth;
        transition: transform 0.3s ease;
    }

    .title {
        color: white;
        text-align: left;
        line-height: 0%;
        width: 100%;
        font-size: .7rem;
        text-overflow: ellipsis;
        scroll-behavior: smooth;
    }
    
    .artist {
        color: rgb(209, 209, 209);
        text-align: left;
        line-height: 0%;
        font-size: .5rem;
        scroll-behavior: smooth;
    }


    .details:hover {
        animation: scroll-on-hover 6s linear infinite;
        cursor: pointer;
    }

    @keyframes scroll-on-hover {
        from {
            scroll-behavior: smooth; /* Enable smooth scroll */
            transform: translateX(0) /* Start at the top */
        }
        to {
            transform: translateX(-100%); /* Scroll to the bottom */
        }
    }
    .spotifyImageTracks {
        width: 16px;
        height: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
        border-radius: 0;
    }
}